.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-text-1);
  width: 40%;
  height: 50%;
  font-size: 24px;
  text-align: center;

  h2,
  h3 {
    color: var(--color-text-1) !important;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 600px;
  padding: 0 60px;

  button {
    margin-top: 40px;
  }
}

.devs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.dev {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-1);
  margin: 0 20px;

  p {
    margin: 0;
    margin-bottom: 4px;
  }
}

.devDesc {
  font-size: 16px;
  color: var(--color-bg-3);
}

.link {
  font-size: 16px;
  color: var(--color-text-2) !important;
  transition: 0.3s;

  &:hover {
    color: var(--color-text-1) !important;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}
