.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 12px 0;

  :global {
    .ant-select {
      margin: 0;
      width: 100%;
      padding: 4px 10px;
      border: 1px solid var(--color-text-2);
      border-radius: 4px;
      background: none !important;
      box-sizing: border-box !important;
      max-height: none !important;

      &-selector {
        height: 100% !important;
        outline: none !important;
        box-shadow: none !important;
        font-size: 20px;
        color: var(--color-text-1);
        box-sizing: border-box;
        border: none !important;
        background: none !important;

        ::placeholder {
          color: var(--color-grey-add);
        }
      }

      #rc_select_0_list_0 {
        display: none !important;
      }

      &-dropdown {
        width: 100% !important;
        min-width: unset !important;
        left: 0 !important;
        top: 40px !important;
        background: var(--color-bg-1) !important;
        border: 1px solid var(--color-text-2);
        max-height: 160px;
        overflow-y: auto;
      }

      &-selection-search {
        left: 0 !important;
        right: 0 !important;
      }

      &-item-option-active:not(.ant-select-item-option-disabled) {
        background: none !important;
      }

      &-selection-item {
        left: -10px;
      }

      &-selection-placeholder {
        margin-left: -10px;
        color: rgb(117, 117, 117);
      }
    }
  }

  :global(.ant-select-arrow) {
    opacity: 1;
    background-color: transparent;

    svg {
      path {
        fill: var(--color-text-2);
      }
    }
  }

  :global(.ant-select-clear) {
    opacity: 1;
    background-color: transparent;

    svg {
      path {
        fill: var(--color-text-2);
      }
    }
  }
  :global(.ant-select-item-option-content) {
    white-space: normal;
  }
  :global(.ant-select-multiple .ant-select-selector) {
    border-radius: 5px;
  }
  :global(.ant-select-multiple .ant-select-selection-item) {
    padding: 2px 4px !important;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.02em;
    line-height: 13px;
    font-feature-settings: 'cv03' on, 'cv04' on;
    color: var(--color-text-3) !important;
    background-color: var(--color-bg-3) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    left: 0;
  }
  :global(.ant-select-item-option) {
    color: var(--color-text-1);
  }
  :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
    background: none;
    color: var(--color-bg-3) !important;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
  }
  :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)):hover {
    background: none;
  }
}

.label {
  font-size: 16px;
  color: var(--color-text-1);
  margin: 0 0 8px 8px;
}

.input {
  width: 100%;
  outline: none;
  font-size: 20px;
  color: var(--color-text-1);
  box-sizing: border-box;
  border: none;
  border: 1px solid var(--color-text-2);
  border-radius: 4px;
  padding: 4px 10px;
  background: none !important;
}

.focused {
  border: 1px solid var(--color-orange-add);
}

.selectField {
  width: 274px;
  max-height: 32px;
  margin: 10px;
  margin-bottom: 15px;
}
.cross {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  color: black;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
}

.optionContent {
  width: 100%;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  line-height: 16px;
  text-overflow: ellipsis;
  background: none;
  left: -10px;
}

.checkbox {
  width: 15px;
  height: 15px;
  border-radius: 20px;
  margin-top: -2px !important;
}
