body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-1);
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  src: url('/src/fonts/Jost-Regular.ttf');
}

body * {
  font-family: Jost;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-bg-1: #1b1b1b;
  --color-bg-2: #000000;
  --color-bg-3: #ffa31a;
  
  --color-text-1: #ffffff;
  --color-text-2: #6a6a6a;
  --color-text-3: #000000;

  --color-orange-add: #ff9000;
  --color-grey-add: #444444;
} 
